# Advanced Databases
## CSCI 4140
## Assignment 5
## Orjan Monsen
## B00697153
Connecting a Jupyter Notebook to a SQL database

### Step 1: Install the iPython-SQL module

In [1]:
%%!
pip install --trusted-host pypi.org ipython-sql

['Requirement already satisfied: ipython-sql in /Users/mons/anaconda/lib/python3.6/site-packages (0.3.9)',
 'Requirement already satisfied: prettytable in /Users/mons/anaconda/lib/python3.6/site-packages (from ipython-sql) (0.7.2)',
 'Requirement already satisfied: sqlparse in /Users/mons/anaconda/lib/python3.6/site-packages (from ipython-sql) (0.2.4)',
 'Requirement already satisfied: ipython>=1.0 in /Users/mons/anaconda/lib/python3.6/site-packages (from ipython-sql) (6.4.0)',
 'Requirement already satisfied: ipython-genutils>=0.1.0 in /Users/mons/anaconda/lib/python3.6/site-packages (from ipython-sql) (0.2.0)',
 'Requirement already satisfied: six in /Users/mons/anaconda/lib/python3.6/site-packages (from ipython-sql) (1.11.0)',
 'Requirement already satisfied: sqlalchemy>=0.6.7 in /Users/mons/anaconda/lib/python3.6/site-packages (from ipython-sql) (1.2.8)',
 'Requirement already satisfied: decorator in /Users/mons/anaconda/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (4.3.0)',
 'Requirement already satisfied: pygments in /Users/mons/anaconda/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (2.2.0)',
 'Requirement already satisfied: jedi>=0.10 in /Users/mons/anaconda/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (0.12.0)',
 'Requirement already satisfied: pexpect; sys_platform != "win32" in /Users/mons/anaconda/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (4.6.0)',
 'Requirement already satisfied: simplegeneric>0.8 in /Users/mons/anaconda/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (0.8.1)',
 'Requirement already satisfied: traitlets>=4.2 in /Users/mons/anaconda/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (4.3.2)',
 'Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.15 in /Users/mons/anaconda/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (1.0.15)',
 'Requirement already satisfied: appnope; sys_platform == "darwin" in /Users/mons/anaconda/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)',
 'Requirement already satisfied: pickleshare in /Users/mons/anaconda/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (0.7.4)',
 'Requirement already satisfied: setuptools>=18.5 in /Users/mons/anaconda/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (39.2.0)',
 'Requirement already satisfied: backcall in /Users/mons/anaconda/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)',
 'Requirement already satisfied: parso>=0.2.0 in /Users/mons/anaconda/lib/python3.6/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.2.1)',
 'Requirement already satisfied: ptyprocess>=0.5 in /Users/mons/anaconda/lib/python3.6/site-packages (from pexpect; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.5.2)',
 'Requirement already satisfied: wcwidth in /Users/mons/anaconda/lib/python3.6/site-packages (from prompt-toolkit<2.0.0,>=1.0.15->ipython>=1.0->ipython-sql) (0.1.7)',
 'distributed 1.21.8 requires msgpack, which is not installed.',
 'You are using pip version 10.0.1, however version 18.0 is available.',
 "You should consider upgrading via the 'pip install --upgrade pip' command."]

## Import CSV Files using Pandas DataFrames

In [2]:
import pandas as pd

In [3]:
courses = pd.read_csv('courses.csv')

In [4]:
students = pd.read_csv('student_info.csv')

### Step 2: Load the SQL

In [5]:
%load_ext sql

### Connect to a SQLite Memory DB
- Note: to connect to a local SQLite file, use the connection string `sqlite:///<path>`
- Note: to connect to an in-memory DB, use the connection string `sqlite://`

In [6]:
%sql sqlite:///sqlitedb.db

'Connected: @sqlitedb.db'

### Drop tables to start with an empty DB

In [7]:
%sql DROP TABLE courses

 * sqlite:///sqlitedb.db
Done.

[]

In [8]:
%sql DROP TABLE students

 * sqlite:///sqlitedb.db
Done.

[]

In [9]:
%sql DROP TABLE temp_table

 * sqlite:///sqlitedb.db
Done.

[]

### Create the tables from the dataframes

In [10]:
%sql PERSIST courses

 * sqlite:///sqlitedb.db

'Persisted courses'

In [11]:
%sql PERSIST students

 * sqlite:///sqlitedb.db

'Persisted students'

### Make sure data was properly imported

In [12]:
%sql SELECT * FROM courses;

 * sqlite:///sqlitedb.db
Done.

[(0, 2, 1),
 (1, 5, 2),
 (2, 3, 3),
 (3, 3, 4),
 (4, 3, 5),
 (5, 1, 6),
 (6, 2, 7),
 (7, 3, 8),
 (8, 4, 9),
 (9, 1, 10),
 (10, 4, 11),
 (11, 4, 12),
 (12, 2, 13),
 (13, 2, 14),
 (14, 5, 15),
 (15, 3, 16),
 (16, 6, 17),
 (17, 3, 18),
 (18, 2, 19),
 (19, 1, 20),
 (20, 3, 21),
 (21, 6, 22),
 (22, 5, 23),
 (23, 1, 24),
 (24, 6, 25),
 (25, 5, 26),
 (26, 1, 27),
 (27, 1, 28),
 (28, 6, 29),
 (29, 5, 30),
 (30, 1, 31),
 (31, 3, 32),
 (32, 1, 33),
 (33, 1, 34),
 (34, 5, 35),
 (35, 4, 36),
 (36, 1, 37),
 (37, 3, 38),
 (38, 5, 39),
 (39, 2, 40),
 (40, 1, 41),
 (41, 6, 42),
 (42, 3, 43),
 (43, 6, 44),
 (44, 4, 45),
 (45, 2, 46),
 (46, 3, 47),
 (47, 5, 48),
 (48, 4, 49),
 (49, 2, 50),
 (50, 2, 51),
 (51, 4, 52),
 (52, 2, 53),
 (53, 3, 54),
 (54, 3, 55),
 (55, 2, 56),
 (56, 1, 57),
 (57, 1, 58),
 (58, 4, 59),
 (59, 1, 60),
 (60, 2, 61),
 (61, 6, 62),
 (62, 4, 63),
 (63, 3, 64),
 (64, 6, 65),
 (65, 1, 66),
 (66, 4, 67),
 (67, 6, 68),
 (68, 6, 69),
 (69, 5, 70),
 (70, 2, 71),
 (71, 5, 72),
 (72, 3, 73),
 (73, 6, 74),
 (74, 3, 75),
 (75, 1, 76),
 (76, 4, 77),
 (77, 2, 78),
 (78, 5, 79),
 (79, 2, 80),
 (80, 3, 81),
 (81, 2, 82),
 (82, 4, 83),
 (83, 2, 84),
 (84, 3, 85),
 (85, 5, 86),
 (86, 6, 87),
 (87, 6, 88),
 (88, 1, 89),
 (89, 6, 90),
 (90, 1, 91),
 (91, 3, 92),
 (92, 5, 93),
 (93, 6, 94),
 (94, 5, 95),
 (95, 4, 96),
 (96, 4, 97),
 (97, 3, 98),
 (98, 6, 99),
 (99, 6, 100)]

In [13]:
%sql SELECT * FROM students;

 * sqlite:///sqlitedb.db
Done.

[(0, 1, 'Hermione', 'Fuentes', 'et.libero.Proin@Cum.com'),
 (1, 2, 'Brielle', 'Spence', 'sed.dictum@eget.ca'),
 (2, 3, 'Ulysses', 'Preston', 'nunc.ac.mattis@elitEtiamlaoreet.co.uk'),
 (3, 4, 'Holmes', 'Mccormick', 'Vivamus@inconsectetuer.com'),
 (4, 5, 'Conan', 'Holman', 'leo@tincidunt.edu'),
 (5, 6, 'Britanney', 'Gutierrez', 'enim@veliteget.ca'),
 (6, 7, 'Irma', 'Chang', 'justo.eu@dui.ca'),
 (7, 8, 'Nelle', 'Walter', 'ligula.Aenean.euismod@Duisacarcu.edu'),
 (8, 9, 'Fiona', 'Blackwell', 'quis.massa@Intinciduntcongue.com'),
 (9, 10, 'Quail', 'Rasmussen', 'ultricies.ligula@sollicitudin.co.uk'),
 (10, 11, 'Kirby', 'Middleton', 'tincidunt.tempus.risus@et.com'),
 (11, 12, 'Blythe', 'Bray', 'mi.lacinia@at.co.uk'),
 (12, 13, 'Zena', 'Mcdowell', 'a.auctor@scelerisqueduiSuspendisse.net'),
 (13, 14, 'Dakota', 'Crawford', 'sem.ut.dolor@Quisque.com'),
 (14, 15, 'Plato', 'Gilliam', 'vel@diamvel.com'),
 (15, 16, 'Yoshio', 'Foster', 'Phasellus.elit@eueros.org'),
 (16, 17, 'Alan', 'Carver', 'orci@diamSed.com'),
 (17, 18, 'Cally', 'Mullen', 'in.hendrerit@risus.co.uk'),
 (18, 19, 'Madeline', 'Sparks', 'consectetuer.adipiscing@velarcueu.org'),
 (19, 20, 'Petra', 'Booker', 'Nullam.suscipit@facilisiSed.com'),
 (20, 21, 'Maxine', 'Mendoza', 'gravida@arcu.ca'),
 (21, 22, 'Bo', 'Pitts', 'varius.et.euismod@libero.net'),
 (22, 23, 'Hollee', 'Russell', 'turpis.egestas.Fusce@tempor.ca'),
 (23, 24, 'Keefe', 'Mckee', 'Nam.nulla@nec.com'),
 (24, 25, 'Blaine', 'Lambert', 'odio.vel@tortorat.com'),
 (25, 26, 'Ulric', 'Salinas', 'lacus.Ut.nec@CraspellentesqueSed.org'),
 (26, 27, 'Cherokee', 'Mendoza', 'at.risus@loremeumetus.ca'),
 (27, 28, 'Zeph', 'Barnes', 'Quisque.nonummy@turpisnon.co.uk'),
 (28, 29, 'Pascale', 'Fields', 'tellus@inlobortistellus.com'),
 (29, 30, 'Aaron', 'Tillman', 'accumsan.convallis@diamDuismi.org'),
 (30, 31, 'Margaret', 'Frank', 'ut.aliquam.iaculis@id.org'),
 (31, 32, 'Miranda', 'Lowery', 'Donec.at@necmollisvitae.ca'),
 (32, 33, 'Alec', 'Martin', 'Nam.nulla.magna@egetmetus.edu'),
 (33, 34, 'Melanie', 'Shelton', 'non.feugiat.nec@eratvitae.com'),
 (34, 35, 'Todd', 'Rosales', 'nostra@Etiam.co.uk'),
 (35, 36, 'Elaine', 'Copeland', 'Mauris.vel.turpis@enim.org'),
 (36, 37, 'Dale', 'Woodward', 'consectetuer.rhoncus@elit.com'),
 (37, 38, 'Brendan', 'William', 'Mauris@semmolestie.org'),
 (38, 39, 'Gil', 'Love', 'ligula@nibhlacinia.net'),
 (39, 40, 'Irma', 'Cook', 'Donec@arcu.com'),
 (40, 41, 'Vera', 'Rollins', 'a@lacus.net'),
 (41, 42, 'Fleur', 'Gilliam', 'faucibus.orci@magnanecquam.edu'),
 (42, 43, 'Maite', 'Contreras', 'elit@sagittis.net'),
 (43, 44, 'Barclay', 'Finley', 'Donec.luctus@ipsumdolorsit.edu'),
 (44, 45, 'Madonna', 'Thornton', 'Phasellus@ornarelectusante.com'),
 (45, 46, 'Madison', 'Shelton', 'tristique.aliquet@Integer.ca'),
 (46, 47, 'Xantha', 'Freeman', 'Sed.pharetra@nascetur.ca'),
 (47, 48, 'Silas', 'Allison', 'eget.massa.Suspendisse@eratneque.co.uk'),
 (48, 49, 'Alden', 'Burnett', 'convallis.in.cursus@euaugue.net'),
 (49, 50, 'Calvin', 'Santiago', 'nulla.vulputate@urnaetarcu.ca'),
 (50, 51, 'Gwendolyn', 'Henderson', 'Etiam.imperdiet@mollis.net'),
 (51, 52, 'Craig', 'Reynolds', 'Nullam@felis.net'),
 (52, 53, 'Donovan', 'Zimmerman', 'sollicitudin@nonenimMauris.edu'),
 (53, 54, 'Maile', 'Gregory', 'cursus.diam.at@porttitorscelerisque.org'),
 (54, 55, 'Althea', 'Hewitt', 'justo.sit@sociisnatoquepenatibus.edu'),
 (55, 56, 'Keith', 'Rasmussen', 'ac@asollicitudinorci.co.uk'),
 (56, 57, 'Raymond', 'Wyatt', 'dui@ligula.co.uk'),
 (57, 58, 'Virginia', 'Alvarez', 'sed@luctuset.net'),
 (58, 59, 'Ivy', 'Branch', 'Nulla.aliquet.Proin@euismod.net'),
 (59, 60, 'Hamilton', 'Sanchez', 'eu.dolor@facilisis.net'),
 (60, 61, 'Penelope', 'Franks', 'senectus.et@Sedeget.com'),
 (61, 62, 'Gwendolyn', 'Barton', 'amet@ornare.org'),
 (62, 63, 'Colby', 'Craft', 'massa@ligulaeu.net'),
 (63, 64, 'Sasha', 'Hewitt', 'Donec.luctus.aliquet@In.com'),
 (64, 65, 'Ronan', 'Robertson', 'faucibus.Morbi@ametluctusvulputate.edu'),
 (65, 66, 'Miranda', 'Mercer', 'Aenean.sed.pede@ligula.co.uk'),
 (66, 67, 'Griffin', 'Holman', 'sollicitudin.a@pellentesquetellussem.co.uk'),
 (67, 68, 'Galvin', 'Russell', 'accumsan.laoreet.ipsum@urnaetarcu.com'),
 (68, 69, 'Zachery', 'Bonner', 'Sed@Duisa.edu'),
 (69, 70, 'Thaddeus', 'Bush', 'luctus.sit@pulvinararcu.net'),
 (70, 71, 'Hollee', 'Stone', 'diam@elitdictumeu.net'),
 (71, 72, 'Len', 'Simon', 'ante.ipsum.primis@netus.org'),
 (72, 73, 'Cyrus', 'Gillespie', 'Quisque@vestibulumneceuismod.edu'),
 (73, 74, 'Dieter', 'Williams', 'neque.venenatis@magna.com'),
 (74, 75, 'Philip', 'Fox', 'Curabitur@iaculislacuspede.com'),
 (75, 76, 'Keiko', 'Chavez', 'fringilla.cursus@Praesentinterdumligula.edu'),
 (76, 77, 'Carla', 'Benjamin', 'Duis@at.net'),
 (77, 78, 'Scarlett', 'Sims', 'pharetra.sed@lectusjusto.edu'),
 (78, 79, 'Ann', 'Goodwin', 'Curae@arcu.edu'),
 (79, 80, 'Dai', 'Olsen', 'Donec.vitae@Curae.ca'),
 (80, 81, 'Walter', 'Acevedo', 'ornare.tortor.at@Nunc.ca'),
 (81, 82, 'Medge', 'Campbell', 'risus.Donec.nibh@penatibuset.co.uk'),
 (82, 83, 'Venus', 'Howard', 'Duis@et.co.uk'),
 (83, 84, 'Lee', 'Emerson', 'augue.eu@nonfeugiatnec.edu'),
 (84, 85, 'Steel', 'Singleton', 'lacinia.mattis@eu.com'),
 (85, 86, 'Aretha', 'Heath', 'Aenean.sed@eu.ca'),
 (86, 87, 'Vincent', 'Rogers', 'accumsan.sed@ornaretortorat.ca'),
 (87, 88, 'Reagan', 'Morgan', 'Nam.consequat@estvitae.ca'),
 (88, 89, 'Morgan', 'Kirby', 'at.libero.Morbi@neque.org'),
 (89, 90, 'Stuart', 'Reyes', 'Cras.convallis@commodoipsum.ca'),
 (90, 91, 'Gisela', 'Stanton', 'ut.aliquam.iaculis@Sed.co.uk'),
 (91, 92, 'Sandra', 'Coffey', 'nec@Praesenteu.co.uk'),
 (92, 93, 'Channing', 'Ortiz', 'pharetra.nibh@Aenean.co.uk'),
 (93, 94, 'Chase', 'Bryan', 'lorem.Donec.elementum@malesuadaiderat.org'),
 (94, 95, 'Rooney', 'Trujillo', 'nonummy.ultricies.ornare@amet.ca'),
 (95, 96, 'Kameko', 'Miles', 'dictum@Craspellentesque.co.uk'),
 (96, 97, 'Drake', 'Nichols', 'vitae@lacinia.ca'),
 (97, 98, 'Orlando', 'Pearson', 'eleifend@ligulaelitpretium.net'),
 (98, 99, 'Daquan', 'Wong', 'Aliquam@nuncrisus.com'),
 (99, 100, 'Rashad', 'Robertson', 'et@lectus.com')]

## 4) Run minimum 6 Queries

### CREATE Operations

In [14]:
%sql CREATE TABLE temp_table('ID' int(10), 'temp_col' varchar(10));

 * sqlite:///sqlitedb.db
Done.

[]

In [15]:
%sql SELECT * FROM temp_table;

 * sqlite:///sqlitedb.db
Done.

[]

the temp_table was successfully created.

### UPDATE Operations

In [16]:
%sql UPDATE OR IGNORE courses SET 'index' = 0;

 * sqlite:///sqlitedb.db
100 rows affected.

[]

In [17]:
%sql SELECT * FROM courses;

 * sqlite:///sqlitedb.db
Done.

[(0, 2, 1),
 (0, 5, 2),
 (0, 3, 3),
 (0, 3, 4),
 (0, 3, 5),
 (0, 1, 6),
 (0, 2, 7),
 (0, 3, 8),
 (0, 4, 9),
 (0, 1, 10),
 (0, 4, 11),
 (0, 4, 12),
 (0, 2, 13),
 (0, 2, 14),
 (0, 5, 15),
 (0, 3, 16),
 (0, 6, 17),
 (0, 3, 18),
 (0, 2, 19),
 (0, 1, 20),
 (0, 3, 21),
 (0, 6, 22),
 (0, 5, 23),
 (0, 1, 24),
 (0, 6, 25),
 (0, 5, 26),
 (0, 1, 27),
 (0, 1, 28),
 (0, 6, 29),
 (0, 5, 30),
 (0, 1, 31),
 (0, 3, 32),
 (0, 1, 33),
 (0, 1, 34),
 (0, 5, 35),
 (0, 4, 36),
 (0, 1, 37),
 (0, 3, 38),
 (0, 5, 39),
 (0, 2, 40),
 (0, 1, 41),
 (0, 6, 42),
 (0, 3, 43),
 (0, 6, 44),
 (0, 4, 45),
 (0, 2, 46),
 (0, 3, 47),
 (0, 5, 48),
 (0, 4, 49),
 (0, 2, 50),
 (0, 2, 51),
 (0, 4, 52),
 (0, 2, 53),
 (0, 3, 54),
 (0, 3, 55),
 (0, 2, 56),
 (0, 1, 57),
 (0, 1, 58),
 (0, 4, 59),
 (0, 1, 60),
 (0, 2, 61),
 (0, 6, 62),
 (0, 4, 63),
 (0, 3, 64),
 (0, 6, 65),
 (0, 1, 66),
 (0, 4, 67),
 (0, 6, 68),
 (0, 6, 69),
 (0, 5, 70),
 (0, 2, 71),
 (0, 5, 72),
 (0, 3, 73),
 (0, 6, 74),
 (0, 3, 75),
 (0, 1, 76),
 (0, 4, 77),
 (0, 2, 78),
 (0, 5, 79),
 (0, 2, 80),
 (0, 3, 81),
 (0, 2, 82),
 (0, 4, 83),
 (0, 2, 84),
 (0, 3, 85),
 (0, 5, 86),
 (0, 6, 87),
 (0, 6, 88),
 (0, 1, 89),
 (0, 6, 90),
 (0, 1, 91),
 (0, 3, 92),
 (0, 5, 93),
 (0, 6, 94),
 (0, 5, 95),
 (0, 4, 96),
 (0, 4, 97),
 (0, 3, 98),
 (0, 6, 99),
 (0, 6, 100)]

The index column was successfully set to 0 for all rows

### ALTER Operations

In [18]:
%sql ALTER TABLE courses RENAME TO df_courses;

 * sqlite:///sqlitedb.db
Done.

[]

In [19]:
%sql SELECT * FROM df_courses;

 * sqlite:///sqlitedb.db
Done.

[(0, 2, 1),
 (0, 5, 2),
 (0, 3, 3),
 (0, 3, 4),
 (0, 3, 5),
 (0, 1, 6),
 (0, 2, 7),
 (0, 3, 8),
 (0, 4, 9),
 (0, 1, 10),
 (0, 4, 11),
 (0, 4, 12),
 (0, 2, 13),
 (0, 2, 14),
 (0, 5, 15),
 (0, 3, 16),
 (0, 6, 17),
 (0, 3, 18),
 (0, 2, 19),
 (0, 1, 20),
 (0, 3, 21),
 (0, 6, 22),
 (0, 5, 23),
 (0, 1, 24),
 (0, 6, 25),
 (0, 5, 26),
 (0, 1, 27),
 (0, 1, 28),
 (0, 6, 29),
 (0, 5, 30),
 (0, 1, 31),
 (0, 3, 32),
 (0, 1, 33),
 (0, 1, 34),
 (0, 5, 35),
 (0, 4, 36),
 (0, 1, 37),
 (0, 3, 38),
 (0, 5, 39),
 (0, 2, 40),
 (0, 1, 41),
 (0, 6, 42),
 (0, 3, 43),
 (0, 6, 44),
 (0, 4, 45),
 (0, 2, 46),
 (0, 3, 47),
 (0, 5, 48),
 (0, 4, 49),
 (0, 2, 50),
 (0, 2, 51),
 (0, 4, 52),
 (0, 2, 53),
 (0, 3, 54),
 (0, 3, 55),
 (0, 2, 56),
 (0, 1, 57),
 (0, 1, 58),
 (0, 4, 59),
 (0, 1, 60),
 (0, 2, 61),
 (0, 6, 62),
 (0, 4, 63),
 (0, 3, 64),
 (0, 6, 65),
 (0, 1, 66),
 (0, 4, 67),
 (0, 6, 68),
 (0, 6, 69),
 (0, 5, 70),
 (0, 2, 71),
 (0, 5, 72),
 (0, 3, 73),
 (0, 6, 74),
 (0, 3, 75),
 (0, 1, 76),
 (0, 4, 77),
 (0, 2, 78),
 (0, 5, 79),
 (0, 2, 80),
 (0, 3, 81),
 (0, 2, 82),
 (0, 4, 83),
 (0, 2, 84),
 (0, 3, 85),
 (0, 5, 86),
 (0, 6, 87),
 (0, 6, 88),
 (0, 1, 89),
 (0, 6, 90),
 (0, 1, 91),
 (0, 3, 92),
 (0, 5, 93),
 (0, 6, 94),
 (0, 5, 95),
 (0, 4, 96),
 (0, 4, 97),
 (0, 3, 98),
 (0, 6, 99),
 (0, 6, 100)]

The table was successfully renamed to "df_courses". Now rename it back to courses again.

In [20]:
%sql ALTER TABLE df_courses RENAME TO courses;

 * sqlite:///sqlitedb.db
Done.

[]

### DELETE Operations

In [21]:
%sql DELETE FROM courses WHERE "ID" = 1;

 * sqlite:///sqlitedb.db
1 rows affected.

[]

In [22]:
%sql SELECT * FROM courses;

 * sqlite:///sqlitedb.db
Done.

[(0, 5, 2),
 (0, 3, 3),
 (0, 3, 4),
 (0, 3, 5),
 (0, 1, 6),
 (0, 2, 7),
 (0, 3, 8),
 (0, 4, 9),
 (0, 1, 10),
 (0, 4, 11),
 (0, 4, 12),
 (0, 2, 13),
 (0, 2, 14),
 (0, 5, 15),
 (0, 3, 16),
 (0, 6, 17),
 (0, 3, 18),
 (0, 2, 19),
 (0, 1, 20),
 (0, 3, 21),
 (0, 6, 22),
 (0, 5, 23),
 (0, 1, 24),
 (0, 6, 25),
 (0, 5, 26),
 (0, 1, 27),
 (0, 1, 28),
 (0, 6, 29),
 (0, 5, 30),
 (0, 1, 31),
 (0, 3, 32),
 (0, 1, 33),
 (0, 1, 34),
 (0, 5, 35),
 (0, 4, 36),
 (0, 1, 37),
 (0, 3, 38),
 (0, 5, 39),
 (0, 2, 40),
 (0, 1, 41),
 (0, 6, 42),
 (0, 3, 43),
 (0, 6, 44),
 (0, 4, 45),
 (0, 2, 46),
 (0, 3, 47),
 (0, 5, 48),
 (0, 4, 49),
 (0, 2, 50),
 (0, 2, 51),
 (0, 4, 52),
 (0, 2, 53),
 (0, 3, 54),
 (0, 3, 55),
 (0, 2, 56),
 (0, 1, 57),
 (0, 1, 58),
 (0, 4, 59),
 (0, 1, 60),
 (0, 2, 61),
 (0, 6, 62),
 (0, 4, 63),
 (0, 3, 64),
 (0, 6, 65),
 (0, 1, 66),
 (0, 4, 67),
 (0, 6, 68),
 (0, 6, 69),
 (0, 5, 70),
 (0, 2, 71),
 (0, 5, 72),
 (0, 3, 73),
 (0, 6, 74),
 (0, 3, 75),
 (0, 1, 76),
 (0, 4, 77),
 (0, 2, 78),
 (0, 5, 79),
 (0, 2, 80),
 (0, 3, 81),
 (0, 2, 82),
 (0, 4, 83),
 (0, 2, 84),
 (0, 3, 85),
 (0, 5, 86),
 (0, 6, 87),
 (0, 6, 88),
 (0, 1, 89),
 (0, 6, 90),
 (0, 1, 91),
 (0, 3, 92),
 (0, 5, 93),
 (0, 6, 94),
 (0, 5, 95),
 (0, 4, 96),
 (0, 4, 97),
 (0, 3, 98),
 (0, 6, 99),
 (0, 6, 100)]

Successfully deleted the course with ID = 1. Now delete more students.

In [23]:
%sql DELETE FROM students WHERE "ID" < 10;

 * sqlite:///sqlitedb.db
9 rows affected.

[]

In [24]:
%sql SELECT * FROM students;

 * sqlite:///sqlitedb.db
Done.

[(9, 10, 'Quail', 'Rasmussen', 'ultricies.ligula@sollicitudin.co.uk'),
 (10, 11, 'Kirby', 'Middleton', 'tincidunt.tempus.risus@et.com'),
 (11, 12, 'Blythe', 'Bray', 'mi.lacinia@at.co.uk'),
 (12, 13, 'Zena', 'Mcdowell', 'a.auctor@scelerisqueduiSuspendisse.net'),
 (13, 14, 'Dakota', 'Crawford', 'sem.ut.dolor@Quisque.com'),
 (14, 15, 'Plato', 'Gilliam', 'vel@diamvel.com'),
 (15, 16, 'Yoshio', 'Foster', 'Phasellus.elit@eueros.org'),
 (16, 17, 'Alan', 'Carver', 'orci@diamSed.com'),
 (17, 18, 'Cally', 'Mullen', 'in.hendrerit@risus.co.uk'),
 (18, 19, 'Madeline', 'Sparks', 'consectetuer.adipiscing@velarcueu.org'),
 (19, 20, 'Petra', 'Booker', 'Nullam.suscipit@facilisiSed.com'),
 (20, 21, 'Maxine', 'Mendoza', 'gravida@arcu.ca'),
 (21, 22, 'Bo', 'Pitts', 'varius.et.euismod@libero.net'),
 (22, 23, 'Hollee', 'Russell', 'turpis.egestas.Fusce@tempor.ca'),
 (23, 24, 'Keefe', 'Mckee', 'Nam.nulla@nec.com'),
 (24, 25, 'Blaine', 'Lambert', 'odio.vel@tortorat.com'),
 (25, 26, 'Ulric', 'Salinas', 'lacus.Ut.nec@CraspellentesqueSed.org'),
 (26, 27, 'Cherokee', 'Mendoza', 'at.risus@loremeumetus.ca'),
 (27, 28, 'Zeph', 'Barnes', 'Quisque.nonummy@turpisnon.co.uk'),
 (28, 29, 'Pascale', 'Fields', 'tellus@inlobortistellus.com'),
 (29, 30, 'Aaron', 'Tillman', 'accumsan.convallis@diamDuismi.org'),
 (30, 31, 'Margaret', 'Frank', 'ut.aliquam.iaculis@id.org'),
 (31, 32, 'Miranda', 'Lowery', 'Donec.at@necmollisvitae.ca'),
 (32, 33, 'Alec', 'Martin', 'Nam.nulla.magna@egetmetus.edu'),
 (33, 34, 'Melanie', 'Shelton', 'non.feugiat.nec@eratvitae.com'),
 (34, 35, 'Todd', 'Rosales', 'nostra@Etiam.co.uk'),
 (35, 36, 'Elaine', 'Copeland', 'Mauris.vel.turpis@enim.org'),
 (36, 37, 'Dale', 'Woodward', 'consectetuer.rhoncus@elit.com'),
 (37, 38, 'Brendan', 'William', 'Mauris@semmolestie.org'),
 (38, 39, 'Gil', 'Love', 'ligula@nibhlacinia.net'),
 (39, 40, 'Irma', 'Cook', 'Donec@arcu.com'),
 (40, 41, 'Vera', 'Rollins', 'a@lacus.net'),
 (41, 42, 'Fleur', 'Gilliam', 'faucibus.orci@magnanecquam.edu'),
 (42, 43, 'Maite', 'Contreras', 'elit@sagittis.net'),
 (43, 44, 'Barclay', 'Finley', 'Donec.luctus@ipsumdolorsit.edu'),
 (44, 45, 'Madonna', 'Thornton', 'Phasellus@ornarelectusante.com'),
 (45, 46, 'Madison', 'Shelton', 'tristique.aliquet@Integer.ca'),
 (46, 47, 'Xantha', 'Freeman', 'Sed.pharetra@nascetur.ca'),
 (47, 48, 'Silas', 'Allison', 'eget.massa.Suspendisse@eratneque.co.uk'),
 (48, 49, 'Alden', 'Burnett', 'convallis.in.cursus@euaugue.net'),
 (49, 50, 'Calvin', 'Santiago', 'nulla.vulputate@urnaetarcu.ca'),
 (50, 51, 'Gwendolyn', 'Henderson', 'Etiam.imperdiet@mollis.net'),
 (51, 52, 'Craig', 'Reynolds', 'Nullam@felis.net'),
 (52, 53, 'Donovan', 'Zimmerman', 'sollicitudin@nonenimMauris.edu'),
 (53, 54, 'Maile', 'Gregory', 'cursus.diam.at@porttitorscelerisque.org'),
 (54, 55, 'Althea', 'Hewitt', 'justo.sit@sociisnatoquepenatibus.edu'),
 (55, 56, 'Keith', 'Rasmussen', 'ac@asollicitudinorci.co.uk'),
 (56, 57, 'Raymond', 'Wyatt', 'dui@ligula.co.uk'),
 (57, 58, 'Virginia', 'Alvarez', 'sed@luctuset.net'),
 (58, 59, 'Ivy', 'Branch', 'Nulla.aliquet.Proin@euismod.net'),
 (59, 60, 'Hamilton', 'Sanchez', 'eu.dolor@facilisis.net'),
 (60, 61, 'Penelope', 'Franks', 'senectus.et@Sedeget.com'),
 (61, 62, 'Gwendolyn', 'Barton', 'amet@ornare.org'),
 (62, 63, 'Colby', 'Craft', 'massa@ligulaeu.net'),
 (63, 64, 'Sasha', 'Hewitt', 'Donec.luctus.aliquet@In.com'),
 (64, 65, 'Ronan', 'Robertson', 'faucibus.Morbi@ametluctusvulputate.edu'),
 (65, 66, 'Miranda', 'Mercer', 'Aenean.sed.pede@ligula.co.uk'),
 (66, 67, 'Griffin', 'Holman', 'sollicitudin.a@pellentesquetellussem.co.uk'),
 (67, 68, 'Galvin', 'Russell', 'accumsan.laoreet.ipsum@urnaetarcu.com'),
 (68, 69, 'Zachery', 'Bonner', 'Sed@Duisa.edu'),
 (69, 70, 'Thaddeus', 'Bush', 'luctus.sit@pulvinararcu.net'),
 (70, 71, 'Hollee', 'Stone', 'diam@elitdictumeu.net'),
 (71, 72, 'Len', 'Simon', 'ante.ipsum.primis@netus.org'),
 (72, 73, 'Cyrus', 'Gillespie', 'Quisque@vestibulumneceuismod.edu'),
 (73, 74, 'Dieter', 'Williams', 'neque.venenatis@magna.com'),
 (74, 75, 'Philip', 'Fox', 'Curabitur@iaculislacuspede.com'),
 (75, 76, 'Keiko', 'Chavez', 'fringilla.cursus@Praesentinterdumligula.edu'),
 (76, 77, 'Carla', 'Benjamin', 'Duis@at.net'),
 (77, 78, 'Scarlett', 'Sims', 'pharetra.sed@lectusjusto.edu'),
 (78, 79, 'Ann', 'Goodwin', 'Curae@arcu.edu'),
 (79, 80, 'Dai', 'Olsen', 'Donec.vitae@Curae.ca'),
 (80, 81, 'Walter', 'Acevedo', 'ornare.tortor.at@Nunc.ca'),
 (81, 82, 'Medge', 'Campbell', 'risus.Donec.nibh@penatibuset.co.uk'),
 (82, 83, 'Venus', 'Howard', 'Duis@et.co.uk'),
 (83, 84, 'Lee', 'Emerson', 'augue.eu@nonfeugiatnec.edu'),
 (84, 85, 'Steel', 'Singleton', 'lacinia.mattis@eu.com'),
 (85, 86, 'Aretha', 'Heath', 'Aenean.sed@eu.ca'),
 (86, 87, 'Vincent', 'Rogers', 'accumsan.sed@ornaretortorat.ca'),
 (87, 88, 'Reagan', 'Morgan', 'Nam.consequat@estvitae.ca'),
 (88, 89, 'Morgan', 'Kirby', 'at.libero.Morbi@neque.org'),
 (89, 90, 'Stuart', 'Reyes', 'Cras.convallis@commodoipsum.ca'),
 (90, 91, 'Gisela', 'Stanton', 'ut.aliquam.iaculis@Sed.co.uk'),
 (91, 92, 'Sandra', 'Coffey', 'nec@Praesenteu.co.uk'),
 (92, 93, 'Channing', 'Ortiz', 'pharetra.nibh@Aenean.co.uk'),
 (93, 94, 'Chase', 'Bryan', 'lorem.Donec.elementum@malesuadaiderat.org'),
 (94, 95, 'Rooney', 'Trujillo', 'nonummy.ultricies.ornare@amet.ca'),
 (95, 96, 'Kameko', 'Miles', 'dictum@Craspellentesque.co.uk'),
 (96, 97, 'Drake', 'Nichols', 'vitae@lacinia.ca'),
 (97, 98, 'Orlando', 'Pearson', 'eleifend@ligulaelitpretium.net'),
 (98, 99, 'Daquan', 'Wong', 'Aliquam@nuncrisus.com'),
 (99, 100, 'Rashad', 'Robertson', 'et@lectus.com')]

Successfully deleted students with ID < 10.

### Joining Tables

In [25]:
%sql SELECT * FROM students JOIN courses USING (ID);

 * sqlite:///sqlitedb.db
Done.

[(9, 10, 'Quail', 'Rasmussen', 'ultricies.ligula@sollicitudin.co.uk', 0, 1),
 (10, 11, 'Kirby', 'Middleton', 'tincidunt.tempus.risus@et.com', 0, 4),
 (11, 12, 'Blythe', 'Bray', 'mi.lacinia@at.co.uk', 0, 4),
 (12, 13, 'Zena', 'Mcdowell', 'a.auctor@scelerisqueduiSuspendisse.net', 0, 2),
 (13, 14, 'Dakota', 'Crawford', 'sem.ut.dolor@Quisque.com', 0, 2),
 (14, 15, 'Plato', 'Gilliam', 'vel@diamvel.com', 0, 5),
 (15, 16, 'Yoshio', 'Foster', 'Phasellus.elit@eueros.org', 0, 3),
 (16, 17, 'Alan', 'Carver', 'orci@diamSed.com', 0, 6),
 (17, 18, 'Cally', 'Mullen', 'in.hendrerit@risus.co.uk', 0, 3),
 (18, 19, 'Madeline', 'Sparks', 'consectetuer.adipiscing@velarcueu.org', 0, 2),
 (19, 20, 'Petra', 'Booker', 'Nullam.suscipit@facilisiSed.com', 0, 1),
 (20, 21, 'Maxine', 'Mendoza', 'gravida@arcu.ca', 0, 3),
 (21, 22, 'Bo', 'Pitts', 'varius.et.euismod@libero.net', 0, 6),
 (22, 23, 'Hollee', 'Russell', 'turpis.egestas.Fusce@tempor.ca', 0, 5),
 (23, 24, 'Keefe', 'Mckee', 'Nam.nulla@nec.com', 0, 1),
 (24, 25, 'Blaine', 'Lambert', 'odio.vel@tortorat.com', 0, 6),
 (25, 26, 'Ulric', 'Salinas', 'lacus.Ut.nec@CraspellentesqueSed.org', 0, 5),
 (26, 27, 'Cherokee', 'Mendoza', 'at.risus@loremeumetus.ca', 0, 1),
 (27, 28, 'Zeph', 'Barnes', 'Quisque.nonummy@turpisnon.co.uk', 0, 1),
 (28, 29, 'Pascale', 'Fields', 'tellus@inlobortistellus.com', 0, 6),
 (29, 30, 'Aaron', 'Tillman', 'accumsan.convallis@diamDuismi.org', 0, 5),
 (30, 31, 'Margaret', 'Frank', 'ut.aliquam.iaculis@id.org', 0, 1),
 (31, 32, 'Miranda', 'Lowery', 'Donec.at@necmollisvitae.ca', 0, 3),
 (32, 33, 'Alec', 'Martin', 'Nam.nulla.magna@egetmetus.edu', 0, 1),
 (33, 34, 'Melanie', 'Shelton', 'non.feugiat.nec@eratvitae.com', 0, 1),
 (34, 35, 'Todd', 'Rosales', 'nostra@Etiam.co.uk', 0, 5),
 (35, 36, 'Elaine', 'Copeland', 'Mauris.vel.turpis@enim.org', 0, 4),
 (36, 37, 'Dale', 'Woodward', 'consectetuer.rhoncus@elit.com', 0, 1),
 (37, 38, 'Brendan', 'William', 'Mauris@semmolestie.org', 0, 3),
 (38, 39, 'Gil', 'Love', 'ligula@nibhlacinia.net', 0, 5),
 (39, 40, 'Irma', 'Cook', 'Donec@arcu.com', 0, 2),
 (40, 41, 'Vera', 'Rollins', 'a@lacus.net', 0, 1),
 (41, 42, 'Fleur', 'Gilliam', 'faucibus.orci@magnanecquam.edu', 0, 6),
 (42, 43, 'Maite', 'Contreras', 'elit@sagittis.net', 0, 3),
 (43, 44, 'Barclay', 'Finley', 'Donec.luctus@ipsumdolorsit.edu', 0, 6),
 (44, 45, 'Madonna', 'Thornton', 'Phasellus@ornarelectusante.com', 0, 4),
 (45, 46, 'Madison', 'Shelton', 'tristique.aliquet@Integer.ca', 0, 2),
 (46, 47, 'Xantha', 'Freeman', 'Sed.pharetra@nascetur.ca', 0, 3),
 (47, 48, 'Silas', 'Allison', 'eget.massa.Suspendisse@eratneque.co.uk', 0, 5),
 (48, 49, 'Alden', 'Burnett', 'convallis.in.cursus@euaugue.net', 0, 4),
 (49, 50, 'Calvin', 'Santiago', 'nulla.vulputate@urnaetarcu.ca', 0, 2),
 (50, 51, 'Gwendolyn', 'Henderson', 'Etiam.imperdiet@mollis.net', 0, 2),
 (51, 52, 'Craig', 'Reynolds', 'Nullam@felis.net', 0, 4),
 (52, 53, 'Donovan', 'Zimmerman', 'sollicitudin@nonenimMauris.edu', 0, 2),
 (53, 54, 'Maile', 'Gregory', 'cursus.diam.at@porttitorscelerisque.org', 0, 3),
 (54, 55, 'Althea', 'Hewitt', 'justo.sit@sociisnatoquepenatibus.edu', 0, 3),
 (55, 56, 'Keith', 'Rasmussen', 'ac@asollicitudinorci.co.uk', 0, 2),
 (56, 57, 'Raymond', 'Wyatt', 'dui@ligula.co.uk', 0, 1),
 (57, 58, 'Virginia', 'Alvarez', 'sed@luctuset.net', 0, 1),
 (58, 59, 'Ivy', 'Branch', 'Nulla.aliquet.Proin@euismod.net', 0, 4),
 (59, 60, 'Hamilton', 'Sanchez', 'eu.dolor@facilisis.net', 0, 1),
 (60, 61, 'Penelope', 'Franks', 'senectus.et@Sedeget.com', 0, 2),
 (61, 62, 'Gwendolyn', 'Barton', 'amet@ornare.org', 0, 6),
 (62, 63, 'Colby', 'Craft', 'massa@ligulaeu.net', 0, 4),
 (63, 64, 'Sasha', 'Hewitt', 'Donec.luctus.aliquet@In.com', 0, 3),
 (64, 65, 'Ronan', 'Robertson', 'faucibus.Morbi@ametluctusvulputate.edu', 0, 6),
 (65, 66, 'Miranda', 'Mercer', 'Aenean.sed.pede@ligula.co.uk', 0, 1),
 (66, 67, 'Griffin', 'Holman', 'sollicitudin.a@pellentesquetellussem.co.uk', 0, 4),
 (67, 68, 'Galvin', 'Russell', 'accumsan.laoreet.ipsum@urnaetarcu.com', 0, 6),
 (68, 69, 'Zachery', 'Bonner', 'Sed@Duisa.edu', 0, 6),
 (69, 70, 'Thaddeus', 'Bush', 'luctus.sit@pulvinararcu.net', 0, 5),
 (70, 71, 'Hollee', 'Stone', 'diam@elitdictumeu.net', 0, 2),
 (71, 72, 'Len', 'Simon', 'ante.ipsum.primis@netus.org', 0, 5),
 (72, 73, 'Cyrus', 'Gillespie', 'Quisque@vestibulumneceuismod.edu', 0, 3),
 (73, 74, 'Dieter', 'Williams', 'neque.venenatis@magna.com', 0, 6),
 (74, 75, 'Philip', 'Fox', 'Curabitur@iaculislacuspede.com', 0, 3),
 (75, 76, 'Keiko', 'Chavez', 'fringilla.cursus@Praesentinterdumligula.edu', 0, 1),
 (76, 77, 'Carla', 'Benjamin', 'Duis@at.net', 0, 4),
 (77, 78, 'Scarlett', 'Sims', 'pharetra.sed@lectusjusto.edu', 0, 2),
 (78, 79, 'Ann', 'Goodwin', 'Curae@arcu.edu', 0, 5),
 (79, 80, 'Dai', 'Olsen', 'Donec.vitae@Curae.ca', 0, 2),
 (80, 81, 'Walter', 'Acevedo', 'ornare.tortor.at@Nunc.ca', 0, 3),
 (81, 82, 'Medge', 'Campbell', 'risus.Donec.nibh@penatibuset.co.uk', 0, 2),
 (82, 83, 'Venus', 'Howard', 'Duis@et.co.uk', 0, 4),
 (83, 84, 'Lee', 'Emerson', 'augue.eu@nonfeugiatnec.edu', 0, 2),
 (84, 85, 'Steel', 'Singleton', 'lacinia.mattis@eu.com', 0, 3),
 (85, 86, 'Aretha', 'Heath', 'Aenean.sed@eu.ca', 0, 5),
 (86, 87, 'Vincent', 'Rogers', 'accumsan.sed@ornaretortorat.ca', 0, 6),
 (87, 88, 'Reagan', 'Morgan', 'Nam.consequat@estvitae.ca', 0, 6),
 (88, 89, 'Morgan', 'Kirby', 'at.libero.Morbi@neque.org', 0, 1),
 (89, 90, 'Stuart', 'Reyes', 'Cras.convallis@commodoipsum.ca', 0, 6),
 (90, 91, 'Gisela', 'Stanton', 'ut.aliquam.iaculis@Sed.co.uk', 0, 1),
 (91, 92, 'Sandra', 'Coffey', 'nec@Praesenteu.co.uk', 0, 3),
 (92, 93, 'Channing', 'Ortiz', 'pharetra.nibh@Aenean.co.uk', 0, 5),
 (93, 94, 'Chase', 'Bryan', 'lorem.Donec.elementum@malesuadaiderat.org', 0, 6),
 (94, 95, 'Rooney', 'Trujillo', 'nonummy.ultricies.ornare@amet.ca', 0, 5),
 (95, 96, 'Kameko', 'Miles', 'dictum@Craspellentesque.co.uk', 0, 4),
 (96, 97, 'Drake', 'Nichols', 'vitae@lacinia.ca', 0, 4),
 (97, 98, 'Orlando', 'Pearson', 'eleifend@ligulaelitpretium.net', 0, 3),
 (98, 99, 'Daquan', 'Wong', 'Aliquam@nuncrisus.com', 0, 6),
 (99, 100, 'Rashad', 'Robertson', 'et@lectus.com', 0, 6)]

In [26]:
%sql SELECT "ID", "email", "First Name", "Last Name", "number of courses in current term" FROM students s JOIN courses c USING (ID) WHERE c."number of courses in current term" > 4;

 * sqlite:///sqlitedb.db
Done.

[(15, 'vel@diamvel.com', 'Plato', 'Gilliam', 5),
 (17, 'orci@diamSed.com', 'Alan', 'Carver', 6),
 (22, 'varius.et.euismod@libero.net', 'Bo', 'Pitts', 6),
 (23, 'turpis.egestas.Fusce@tempor.ca', 'Hollee', 'Russell', 5),
 (25, 'odio.vel@tortorat.com', 'Blaine', 'Lambert', 6),
 (26, 'lacus.Ut.nec@CraspellentesqueSed.org', 'Ulric', 'Salinas', 5),
 (29, 'tellus@inlobortistellus.com', 'Pascale', 'Fields', 6),
 (30, 'accumsan.convallis@diamDuismi.org', 'Aaron', 'Tillman', 5),
 (35, 'nostra@Etiam.co.uk', 'Todd', 'Rosales', 5),
 (39, 'ligula@nibhlacinia.net', 'Gil', 'Love', 5),
 (42, 'faucibus.orci@magnanecquam.edu', 'Fleur', 'Gilliam', 6),
 (44, 'Donec.luctus@ipsumdolorsit.edu', 'Barclay', 'Finley', 6),
 (48, 'eget.massa.Suspendisse@eratneque.co.uk', 'Silas', 'Allison', 5),
 (62, 'amet@ornare.org', 'Gwendolyn', 'Barton', 6),
 (65, 'faucibus.Morbi@ametluctusvulputate.edu', 'Ronan', 'Robertson', 6),
 (68, 'accumsan.laoreet.ipsum@urnaetarcu.com', 'Galvin', 'Russell', 6),
 (69, 'Sed@Duisa.edu', 'Zachery', 'Bonner', 6),
 (70, 'luctus.sit@pulvinararcu.net', 'Thaddeus', 'Bush', 5),
 (72, 'ante.ipsum.primis@netus.org', 'Len', 'Simon', 5),
 (74, 'neque.venenatis@magna.com', 'Dieter', 'Williams', 6),
 (79, 'Curae@arcu.edu', 'Ann', 'Goodwin', 5),
 (86, 'Aenean.sed@eu.ca', 'Aretha', 'Heath', 5),
 (87, 'accumsan.sed@ornaretortorat.ca', 'Vincent', 'Rogers', 6),
 (88, 'Nam.consequat@estvitae.ca', 'Reagan', 'Morgan', 6),
 (90, 'Cras.convallis@commodoipsum.ca', 'Stuart', 'Reyes', 6),
 (93, 'pharetra.nibh@Aenean.co.uk', 'Channing', 'Ortiz', 5),
 (94, 'lorem.Donec.elementum@malesuadaiderat.org', 'Chase', 'Bryan', 6),
 (95, 'nonummy.ultricies.ornare@amet.ca', 'Rooney', 'Trujillo', 5),
 (99, 'Aliquam@nuncrisus.com', 'Daquan', 'Wong', 6),
 (100, 'et@lectus.com', 'Rashad', 'Robertson', 6)]